.navbar{
    background-color: black !important;
    position: sticky;
    z-index: 90;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 12px;
    border-radius: 5px;
    padding: 6px;
}

.form-inline .form-control {
    display: inline-block;
    width: 320px;
    vertical-align: middle;
}

.carousel-item::after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    
  }

  *{
      margin: 0;
      padding: 0;
  }

  #transition{
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      /* border: 2px solid black; */
    }
    
    #transition .box{
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: -webkit-fill-available;
        /* border: 2px solid blue; */
  }

 

/* ZOOM */


.container{
    /* height: 255px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    /* width: 100%; */
    /* max-width: none; */
}

.container-inside{
    display: flex;

}


.section{
    display: flex;
    /* max-width: none; */
}

.zoom {
    padding: 50px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 18px;
    background-color: rgb(21, 166, 59);
    transition: transform .2s; /* Animation */
    width: 465px;
    height: 185px;
    margin:  auto;
    cursor: pointer;
}
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoom h1{
    align-items: center;
    text-align: center;
    text-emphasis-color: black;
    color: black;
    font-style: oblique;
    font-size: 2.5rem;
  }


  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    background: url('d1.jpg');
    width: 260px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
/* PRICING TABLE */
.pricing{
    background-color: black;
}

  * {
    box-sizing: border-box;
    /* background-color: black; */
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    /* background-color: black; */
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }